<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="headerClient.css">
    <title>Header</title>
</head>
<body>
    <header class="header">
      <div class="title">
        <Image class="imgLogo" src="../images/logo.svg" alt="logoCA" width={300} height={300} />
        <h1 class="name">CACCo</h1>
      </div>
      <nav class="nav">
        <a href="catalogo" class="button">Catálogo</a>
        <a href="carrinho" class="button"><Image class="carrinho" src="../images/carrinho.svg" alt="Carrinho" fit /></a>
      </nav>
    </header>
</body>
</html>