@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url("../fonts/Inter-Bold.ttf");
}

body {
  margin: 0;
  background-color: #c7c7c7;
}

.header {
  align-items: center;
  background-color: #1e3c5a;
  border-bottom: 5px solid #307abd;
  color: whitesmoke;
  display: flex;
  font-family: "Comfortaa", Comfortaa;
  height: 15vh;
  justify-content: space-between;
}

.imgLogo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6em;
}

.title h1 {
  margin: 0;
}

.title h5 {
  font-family: "Inter", Inter;
  font-weight: lighter;
  margin: 0;
}

.nav {
  align-items: center;
  display: flex;
  font-size: 1.3em;
  flex-basis: 20%;
  justify-content: flex-end;
  margin-right: 2em;
}

.button {
  border: 2px solid #307abd;
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.button:hover {
  background-color: #d9d9d9;
  color: black;
}

.carrinho {
  width: 35px;
  height: 35px;
}

main {
  display: flex;
  justify-content: center;
}

.return {
  margin: 2em 0 0 0
}

.return:hover {
  filter: invert(.1);
  transition: .2s ease-in-out;
}

.menu {
  align-items: center;
  background: whitesmoke;
  border: 1px groove #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75vh;
  justify-content: space-around;
  margin: 2em;
  text-align: center;
  flex-basis: 70%;
}

.menu a {
  align-items: center;
  border: 5px solid #307abd;
  border-radius: 25px;
  display: flex;
  height: fit-content;
  justify-content: center;
  margin: 2em 0;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: 50%;
}

.menu a:hover {
  background-color: #1e3c5a;
  color: whitesmoke;
}

.menu a:hover > .imgBotao {
  filter: invert(0.9);
}

.menu a p {
  flex-basis: 60%;
  font-family: "Inter", Inter;
  font-size: 2em;
}

.imgBotao {
  height: 7em;
  padding: 1em;
}

@media screen and (max-width: 1000px) {
  .menu {
    background-color: blue;
    font-size: small;
  }
}
